* {
        box-sizing: border-box;
        overflow: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    .container {
        width: 100vw;
        height: 100vh;
    }
    .panels {
        width: 100%;
        height: 100%;
        display:flex;
        flex: 1;
    }
    .panel {
        width: 100%;
        height: 100%;
        border: .25rem solid #000;
        filter: grayscale(1);
        display: flex;
        flex: 1;
        transition: all 0.5s;
        justify-content: center;
        align-items: flex-end;
    }
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        transform: translateY(10rem);
        transition: all 0.25s;
    }
    #panel1 {
        background: url("walls/1.png") center;
        background-size: cover;
    }
    #panel2 {
        background: url("walls/2.jpg") center;
        background-size: cover;
    }
    #panel3 {
        background: url("walls/3.png") center;
        background-size: cover;
    }
    #panel4 {
        background: url("walls/4.png") center;
        background-size: cover;
    }
    #panel5 {
        background: url("walls/5.png") center;
        background-size: cover;
    }
    #panel6 {
        background: url("walls/6.png") center;
        background-size: cover;
    }
    #panel7 {
        background: url("walls/7.png") center;
        background-size: cover;
    }
